---
import Svg from "@jasikpark/astro-svg-loader"
import type { HTMLAttributes } from 'astro/types'

const variants = {
  default: {
    wrapper: "bg-purple-500 hover:bg-purple-600 active:bg-purple-700 text-white hover:text-gray-100 active:text-gray-200",
    icon: "text-white group-hover:text-gray-100 group-active:text-gray-200",
  },
  telegram: {
    wrapper: "bg-sky-500 hover:bg-sky-600 active:bg-sky-700 text-white hover:text-gray-100 active:text-gray-200",
    icon: "text-white group-hover:text-gray-100 group-active:text-gray-200",
  },
}

const icons = {
  envelope: import("/icons/envelope.svg?raw"),
  telegram: import("/icons/telegram.svg?raw"),
}

type Props = {
  variant?: keyof typeof variants
  icon?: keyof typeof icons
  class?: string
} & HTMLAttributes<"button">

const {
  variant = "default",
  icon,
  class: className,
  ...props
}: Props = Astro.props
---

<button
  {...props}
  class:list={[
    "font-medium px-6 py-4 md:text-xl rounded-lg w-full flex items-center justify-center gap-2 group",
    variants[variant].wrapper,
    className,
  ]}
>
  {icon && <Svg src={icons[icon]} class={`w-6 h-6 ${variants[variant].icon}`} />}

  <span class="whitespace-nowrap">
    <slot />
  </span>
</button>