---
import Button from "./Button.astro";
---
<form action="https://kodkod.us18.list-manage.com/subscribe/post?u=6c3647ce1a45a0ed6cf127816&amp;id=939087d9d7&amp;f_id=00eb1be7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_self">
  <input type="email" value="" name="EMAIL" placeholder="Введите ваш Email" class="w-full px-6 py-4 text-slate-800 rounded-lg md:text-xl font-medium bg-slate-200/75 dark:bg-slate-700 dark:text-slate-200 darl:placeholder:text-slate-300 placeholder:text-slate-500 placeholder:font-normal mb-4" required>

  <div class="hidden">
    <input type="hidden" name="tags" value="2623736">
  </div>

  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6c3647ce1a45a0ed6cf127816_939087d9d7" tabindex="-1" value=""></div>

  <Button icon="envelope" type="submit" name="subscribe">
    Подписаться через Email
  </Button>
</form>