---
import Svg from "@jasikpark/astro-svg-loader"

const logos = [
  {
    import: import("/images/logo-nextjs.svg?raw"),
    class: "text-slate-800 dark:text-slate-200",
  },
  {
    import: import("/images/logo-tailwindcss.svg?raw"),
    class: "text-slate-800 dark:text-slate-200",
  },
  {
    import: import("/images/logo-firebase.svg?raw"),
    class: "fill-slate-800 dark:fill-slate-200",
  },
  {
    import: import("/images/logo-astro.svg?raw"),
    class: "text-slate-800 dark:text-slate-200",
  },
  {
    import: import("/images/logo-stripe.svg?raw"),
    class: "",
  },
  {
    import: import("/images/logo-vercel.svg?raw"),
    class: "text-slate-800 dark:fill-slate-200",
  },
  {
    import: import("/images/logo-tremor.svg?raw"),
    class: "text-[#334155] dark:text-slate-200",
  },
  {
    import: import("/images/logo-typescript.svg?raw"),
    class: "text-[#007acc] dark:text-sky-500",
  },
  {
    import: import("/images/logo-pnpm.svg?raw"),
    class: "text-slate-800 dark:text-slate-200",
  },
]
---
<h1 class="font-heading font-bold text-4xl mb-2 dark:text-white">
  Обучение Full Stack Developer 🚀
</h1>
<p class="text-xl text-gray-500 mb-8">
  React, Next.js, TailwindCSS, Firebase, Astro, Stripe, Vercel, Tremor UI, TypeScript, PNPM
</p>

<div class="grid grid-cols-3 gap-x-4 gap-y-2 px-4 sm:gap-x-12 sm:px-8 sm:gap-y-4 md:gap-x-24 md:px-12 md:gap-y-8">
  {logos.map((logo) => (
    <div class="flex items-center justify-center">
      <Svg class={`${logo.class} w-full`} src={logo.import} />  
    </div>
  ))}
</div>