---
import Svg from "@jasikpark/astro-svg-loader"

const logos = [
  {
    import: import("/images/logo-nextjs.svg?raw"),
    class: "text-neutral-800 dark:text-neutral-200",
  },
  {
    import: import("/images/logo-tailwindcss.svg?raw"),
    class: "text-neutral-800 dark:text-neutral-200",
  },
  {
    import: import("/images/logo-firebase.svg?raw"),
    class: "fill-neutral-800 dark:fill-neutral-200",
  },
  {
    import: import("/images/logo-astro.svg?raw"),
    class: "text-neutral-800 dark:text-neutral-200",
  },
  {
    import: import("/images/logo-stripe.svg?raw"),
    class: "",
  },
  {
    import: import("/images/logo-vercel.svg?raw"),
    class: "text-neutral-800 dark:fill-neutral-200",
  },
  {
    import: import("/images/logo-tremor.svg?raw"),
    class: "text-[#334155] dark:text-neutral-200",
  },
  {
    import: import("/images/logo-typescript.svg?raw"),
    class: "text-[#007acc] dark:text-sky-500",
  },
  {
    import: import("/images/logo-pnpm.svg?raw"),
    class: "text-neutral-800 dark:text-neutral-200",
  },
]
---
<h1 class="font-serif mb-2 text-4xl font-bold dark:text-white">
  Обучение Full Stack <span class="whitespace-nowrap">Development 🚀</span>
</h1>
<p class="mb-8 text-xl text-neutral-500">
  React, Next.js, TailwindCSS, Firebase, Astro, Stripe, Vercel, Tremor UI, TypeScript, PNPM
</p>

<div class="grid grid-cols-3 gap-x-4 gap-y-2 px-4 sm:gap-x-12 sm:gap-y-4 sm:px-8 md:gap-x-24 md:gap-y-8 md:px-12 mb-12">
  {logos.map((logo) => (
    <div class="flex items-center justify-center">
      <Svg class={`${logo.class} w-full`} src={logo.import} />
    </div>
  ))}
</div>

<p class="text-center leading-tight px-4 md:px-8 text-sm md:text-base dark:text-neutral-400">
  <span class="font-serif text-lg sm:text-xl font-bold dark:text-neutral-300">Kodkod Pro</span>
  &mdash; это обучающая программа, построенная по принципу подписки и выпуска еженедельных видео.
</p>