<div class="flex flex-row">
  <a href="/" class="font-serif flex py-4 text-3xl font-bold">
    <span class="dark:text-white">🧑‍💻 kodkod</span>
    <span class="text-purple-500">pro</span>
  </a>
</div>
