<div class="flex flex-row">
  <a href="/" class="font-heading font-bold text-3xl py-4 flex">
    <span class="dark:text-white">👨🏼‍💻 kodkod</span>
    <span class="text-indigo-500">pro</span>
  </a>
</div>
