---
const items = [
  {
    name: "Как это работает",
    link: "#-как-это-работает"
  },
  {
    name: "Что вы создадите",
    link: "#️-что-вы-создадите"
  },
  {
    name: "Закрытое комьюнити",
    link: "#️-закрытое-комьюнити"
  },
  {
    name: "Для кого подойдет это обучение",
    link: "#️-для-кого-подойдет-это-обучение",
  },
  {
    name: "Что вам нужно знать перед началом обучения",
    link: "#️-что-вам-нужно-знать-перед-началом-обучения",
  },
  {
    name: "Примеры уроков",
    link: "#️-примеры-уроков",
  },
  {
    name: "Плюсы и минусы подписки",
    link: "#️-плюсы-и-минусы-подписки",
  },
  {
    name: "Об авторе",
    link: "#️-об-авторе",
  },
  {
    name: "Стиль преподавания",
    link: "#️-стиль-преподавания",
  },
  {
    name: "Частые вопросы",
    link: "#️-частые-вопросы",
  }
]
---

<div class="sticky left-0 top-0">
  <ul>
    {items.map((item) => (
      <li>
        <a href={item.link}>{item.name}</a>
      </li>
    ))}
  </ul>
</div>