---
export type Props = {
  label: string
}

const { label } = Astro.props
---

<span class="group relative">
  <strong class="cursor-pointer border-b border-dashed border-current group-hover:opacity-75 dark:text-white">{label}</strong>

  <span class="absolute top-0 left-1/2 hidden w-[32ch] -translate-x-1/2 -translate-y-full group-hover:block ">
    <span class="mb-2 block w-full rounded-lg bg-slate-700 px-5 pb-[1rem] pt-[0.95rem] text-sm font-medium leading-snug text-white">
      <slot />
    </span>
  </span>
</span>