---
export type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="font-sans antialiased dark:bg-neutral-900 dark:text-neutral-400">
    <slot />
  </body>

  <script type="text/javascript">
    window.omnisend = window.omnisend || [];
    omnisend.push(["accountID", "63df574fc50e47b6cbcdb155"]);
    omnisend.push(["track", "$pageViewed"]);
    !function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://omnisnippet1.com/inshop/launcher-v2.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}();
  </script>
</html>

<style is:global>
  @font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
</style>
